<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".tga" mimeType="image/tga" />
            <mimeMap fileExtension=".goml" mimeType="text/goml" />
            <mimeMap fileExtension=".pmx" mimeType="application/pmx" />
            <mimeMap fileExtension=".vmd" mimeType="application/vmd" />
            <mimeMap fileExtension=".spa" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".sph" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
